.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile{
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #f8f3f3;
  border-radius: 20px;
  box-shadow: 6px 5px 28px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 6px 5px 28px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 6px 5px 28px 1px rgba(0,0,0,0.3);
  margin:1rem;
}

.new{
  position:absolute;
  background-color: rgb(255, 116, 139);
  border-radius: 10px;
  color: #fff;
  width: 48px;
  left: 12%;
  margin-top: 18px;
  text-align: center;
}


.photo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.avatar{position: relative;width: 200px;
  height: 200px; margin: auto;}


  .counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #eee;
  }

  .counter:hover{
    background-color: #fff8f8;
  }

  .number{font-size: 5rem;}
  .button{
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border:0;

  }